BasedOnStyle: Google
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignOperands: false
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: false
BreakBeforeTernaryOperators: false
ColumnLimit: 120
ContinuationIndentWidth: 0
IndentWidth: 0
MaxEmptyLinesToKeep: 0
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: Never
SpacesBeforeTrailingComments: 0
TabWidth: 3
UseTab: Always

