[submodule "conan/conan-gts"]
	path = conan/conan-gts
	url = https://github.com/eessmann/conan-gts.git
[submodule "conan/conan-netcdf-c"]
	path = conan/conan-netcdf-c
	url = https://github.com/eessmann/conan-netcdf-c.git
[submodule "conan/conan-gsl"]
	path = conan/conan-gsl
	url = https://github.com/eessmann/conan-gsl.git
[submodule "conan/conan-lis"]
	path = conan/conan-lis
	url = https://github.com/eessmann/conan-lis.git
[submodule "conan/conan-ode"]
	path = conan/conan-ode
	url = https://github.com/eessmann/conan-ode.git
[submodule "conan/conan-hypre"]
	path = conan/conan-hypre
	url = https://github.com/eessmann/conan-hypre.git
