BODY {
  background: white;
  color: black;
  font-family: arial,sans-serif;
  margin: 0;
  padding: 1em;
}

A:link {
  background: transparent;
  color: #494a82;
}

A:visited {
  background: transparent;
  color: #8081b3
}

PRE     {
  background: #eeeeee;
  border: 1px solid #888888;
  color: black;
  padding: 1em;
  white-space: pre;
}

H1      {
  color: #494a82;
  font-size: 24px ;
}

H2      {
  color: #494a82;
  font-size: 18px;
}

H3      {
  color: #494a82;
  font-size: 16px;
}

H4      {
  color: #494a82;
  font-size: 14px;
}

/* headers for darcs command options */
.cmd-opt-hdr     {
  color: #494a82;
  font-size: 14px;
  font-weight: bold;
}

/* begin styles for RSS Feed This is the most basic style to use for a list with no bullets */

.rss_title, rss_title a {
    margin: 0px 0;
    padding: 0;
}

.rss_items {
       list-style:none;
       margin:0;
       padding:0;
}

.rss_item  {
/*  font-size: x-small; */
  margin-bottom: 1em;;
}

.rss_item a:link, .rss_item a:visited, .rss_item a:active {

    }

.rss_item a:hover { 

    }
    
.rss_date {
    font-size: xx-small;
    }
