Source: gerris
Section: math
Priority: optional
Maintainer: Stephane Popinet <popinet@users.sf.net>
Build-Depends: debhelper (>> 4), libgts-dev (>> 0.7.4), libglib2.0-dev, autotools-dev
Standards-Version: 3.6.1

Package: gerris
Section: math
Architecture: any
Depends: ${shlibs:Depends}
Description: Gerris Flow Solver
 Gerris is a system for the solution of the partial differential
 equations describing fluid flow.
 .
 A brief summary of its main (current) features:
 .
    * Quadtree-based (Octree in 3D) spatial discretisation with
      automatic (and possibly dynamic) local refinement.
    * Multigrid Poisson solver.
    * Second-order Godunov type advection scheme.
    * Solves the time-dependent incompressible Euler equations.
    * Support for complex solid boundaries (automatic locally-refined
      mesh generation).
    * Flexible object-oriented specification of boundary conditions.
